form div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

label {
    margin-bottom: 0.5rem;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.modal > div {
    border-radius: 10px;
}

.modal__title {
    padding: 0.5rem;
    background-color: purple;
    border-radius: 10px 10px 0 0;
}

.modal__title span {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}

.modal__description {
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal__description button {
    margin-top: 2rem;
}